{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'wiki/imagenes/Icono/the-forest.icon.png' %}">
  <title>Menú Principal - The Forest Wiki</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wiki/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body style="background-color:black;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'menuprincipal_wiki' %}" id="fuente">The Forest Wiki</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menuprincipal_wiki' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forowiki' %}">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa"
            target="_blank">Dirección</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registrase_wiki' %}">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inicio_sesion_wiki' %}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'micuentatf' %}">Mi Cuenta</a>
        </li>
      </ul>
      <form class="d-flex" id="separarsearch">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

  <main>
    <div class="wiki">
      <div class="contenedor">
        <h3 class="titulo">The Forest Wiki</h3>
        <p class="descripcion">
          Página Oficial de The Forest creada por programadores de Duoc UC fanáticos del juego.
          ¡Descubre y comparte tus conocimientos!
        </p>
        <a href="https://www.eneba.com/latam/steam-the-forest-steam-key-global" target="_blank">
          <button class="btn btn-dark">Compra The Forest</button>
        </a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="itemtf-recomendadas contenedor">
        <div class="contenedor-titulo-controles">
          <h3 id="fuente">Contenido The Forest</h3>
          <div class="indicadores"></div>
        </div>

        <div class="contenedor-principal">
          <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

          <div class="contenedor-carousel">
            <div class="carousel">
              <div class="pelicula">
                <a href="{% url 'animales' %}"><img src="{% static 'wiki/img_wiki/animal2.png' %}" alt=""></a>
                <center><p style="color: white;">Animales</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'lugarestf' %}"><img src="{% static 'wiki/img_wiki/mapaforest1.png' %}" alt=""></a>
                <center><p style="color: white;">Mapa</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'enemigos' %}"><img src="{% static 'wiki/img_wiki/enemigosforest1.png' %}" alt=""></a>
                <center><p style="color: white;">Enemigos</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'construcciones' %}"><img src="{% static 'wiki/img_wiki/buildings.png' %}" alt=""></a>
                <center><p style="color: white;">Construcciones</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'flora' %}"><img src="{% static 'wiki/img_wiki/plantaforest.png' %}" alt=""></a>
                <center><p style="color: white;">Plantas</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'armas' %}"><img src="{% static 'wiki/img_wiki/armasthf1.png' %}" alt=""></a>
                <center><p style="color: white;">Armas</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'consumibles' %}"><img src="{% static 'wiki/img_wiki/consumibles.png' %}" alt=""></a>
                <center><p style="color: white;">Consumibles</p></center>
              </div>
              <div class="pelicula">
                <a href="{% url 'historia' %}"><img src="{% static 'wiki/img_wiki/Storytf.png' %}" alt=""></a>
                <center><p style="color: white;">Historia</p></center>
              </div>
            </div>
          </div>

          <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </main>

  <footer id="piedepag">
    <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
    <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <script src="{% static 'wiki/js/main.js' %}"></script>
</body>

</html>
